.panel-control {
    padding: 1vh;
    border: 1px solid black;
    width: 50vh;
    text-align: center;
}

.user-control > form {
    align-items: center;
}

.type-selector {
    border: 1px solid black;
    width: 20vh;
    height: 2vh;
    padding: 20px;
    margin: 20px;
}

.input-field {
    padding: 10px;
    margin: 1vh;
}

.generate-button {
    border: 1px solid black;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 4vh;
    background-color: black;
    color: white;
    font-size: 15px;
}

.generate-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}


