.NavBar {
    background: black;
    height: 60px;
    display: flex;
  }

  .NavBar > header {
    padding: 20px;
    font-size: 20px;
    font-family: monospace;
    color: white;
  }

  .NavBar > header:hover {
    background: white;
    color: rgb(22, 21, 21);
    cursor: grab;
  } 

  .NavBar > a {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .NavBar > a > img {
    width: 25px;
    height: 25px;
    filter: invert(1);
  }

  .NavBar > a:hover::after {
    content: "Report a Bug";
    position: relative;
    top: 0;
    right: -100;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
  }

  
@media only screen and (max-width: 768px) {
  .NavBar > a > img {
    width: 30px;
    height: 30px;
  }
}
  

  

