.NavBar {
    background: black;
    height: 60px;
    display: flex;
  }

  .NavBar > header {
    padding: 20px;
    font-size: 20px;
    font-family: monospace;
    color: white;
  }

  .NavBar > header:hover {
    background: white;
    color: black;
    cursor: grab;
  }

  .NavBar > button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
  }

  .NavBar > button:hover {
    background-color: white;
    color: black;
    cursor: grab;
  }

  

