.UserGuide {
    background: white;
    margin-left: 50px;
    font: menu;
    margin-right: 50px;
}


section {
    /* padding-top: 1rem; */
    width: 80%;
    margin: 2%;
}

ol {
    list-style: disc;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
details summary::-webkit-details-marker {
    display: none;
}

details summary {
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    /* font-size: 1.25rem; */
    font-weight: 300;
    list-style: none;
    font-size: 28px;
    font-weight: 400;
}

details summary:after {
    content: "+";
    color: black;
    position: absolute;
    font-size: 40px;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}
details[open] summary:after {
    transform: rotate(45deg);

}
details summary {
    outline: 0;
}
details p {
    font-size: 0.95rem;
    margin: 0 0 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

