.landscape-scene {
  border: 1px solid black;
  width: 150vh;
}

.landscape-container {
  margin: 25px;
  height: 85vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
