.landscape-scene {
    border: 1px solid black;
    margin-left: 3vh;
    width: 150vh;
  }

  .landscape-container {
    margin: 25px;
    height: 85vh;
    display: flex;
    justify-content: center;
    /* align-items: center; Center vertically */
  }

  .landscape-scene-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .gui-controller {
    margin-top: 15vh;
    margin-right: 5vh;
    z-index: 1;
  }

